<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <relativeTabletPosition>
    <x>-0.33</x>
    <y>-0.455</y>
    <z>-0.535</z>
  </relativeTabletPosition>
  <relativeTabletEulerRotation>
    <x>0</x>
    <y>0</y>
    <z>0</z>
  </relativeTabletEulerRotation>
  <tabletSize>
    <x>0.41</x>
    <y>0.025</y>
    <z>0.23</z>
  </tabletSize>
  <tableSurfaceHeight>0.815</tableSurfaceHeight>
  <loadDeck>true</loadDeck>
</Config>